/*
*default.html
*/

.main {
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
}

/* Tablet portrait */
@media screen and (min-width: 600px) {
	.main {
		width: 80%;
		margin-left:10%;
		margin-right:10%;
		margin-top:5%;
		margin-bottom:5%;
	}
}

/* Tablet landscape */
@media screen and (min-width: 900px) {
	.main {
		width: 70%;
		margin-left:15%;
		margin-right:15%;
		margin-top:5%;
		margin-bottom:5%;
	}
}

/* Desktop */
@media screen and (min-width: 1200px) {
	.main {
		width: 50%;
		margin-left:25%;
		margin-right:25%;
		margin-top:5%;
		margin-bottom:5%;
	}
}
