/*
*default.html
*/

.main {
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
}


@media screen and (min-width: 768px) {
	.main {
		width: 50%;
		margin-left:25%;
		margin-right:25%;
		margin-top:5%;
		margin-bottom:5%;
	}
}
